<div class="jumbotron">
  <h1>Team Lunches</h1>
  <p>So I heard your team is having trouble finding a place for team lunches! Use this tool to help you out.<br>
  Sign up with an email and your city and voila! Places to eat that caters to large groups.</p>
  <p>
    <%= link_to 'Sign Up', new_user_registration_path, class:"btn btn-lg btn-primary" %>
  </p>
  <h2>Or Search a city without logging in.</h2>
  <%= render '/restaurants/form_fetch_custom_city' %>
</div>
